<div class="post-image cdz-blog-left col-sm-5">
  {% if article.image %}
  <a href="{{ article.url }}" title="{{ article.title }}">
    <img data-src="{{ article | img_url: '380x' }}" class="lozad img-responsive" alt="{{ article.title | escape }}"/>
  </a>
  {% endif %}

  {% if section.settings.blog_show_date %}
  <div class="blog-date">{{ article.published_at | time_tag: format: 'month_day_year' }}</div>
  {% endif %}
</div>
<div class="post-details cdz-blog-right col-sm-7">
  <div class="post-header">
    <div class="postTitle clearfix">
      <div class="postTitle-blog">
        <h2 class="post-title">
          <a class="post-item-link" href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>
        </h2>
      </div>
      <div class="addthis_toolbox addthis_default_style" addthis:url="{{ shop.url }}{{ article.url }}">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_email"></a>
        <a class="addthis_button_compact"></a>
      </div>
    </div>
  </div>
  <div class="postContent">
    <div class="post-description clearfix">
      {% if article.excerpt.size > 0 %}
      {{ article.excerpt }}
      {% else %}
      {{ article.content | strip_html | truncate: 150 }}
      {% endif %}
    </div>
    <a class="aw-blog-read-more" href="{{ article.url }}" title="{{ article.title }}">
      <span class="brackets skeleton-loading" data-trans-key="blogs.article.read_more">{{ 'blogs.article.read_more' | t }}</span>
    </a>
  </div>
</div>