<div class="post-image">
  {% if article.image %}
  <a href="{{ article.url }}" title="{{ article.title }}">
    {{ article | img_url: post_image_size, crop: 'top' | img_tag: article.title, 'img-responsive' }}
  </a>
  {% endif %}
</div>
<div class="post-details">
  <div class="post-header">
    <div class="postTitle clearfix">
      <div class="postTitle-blog">
        <h2 class="post-title">
          <a class="post-item-link" href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>
        </h2>
      </div>
      <div class="addthis_toolbox addthis_default_style" addthis:url="{{ article.url }}">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_email"></a>
        <a class="addthis_button_compact"></a>
      </div>
    </div>
  </div>
  <div class="postContent">
    <div class="post-description clearfix">
      {% if article.excerpt.size > 0 %}
      {{ article.excerpt }}
      {% else %}
      {{ article.content | strip_html | truncate: 150 }}
      {% endif %}
    </div>
  </div>
</div>