{% if section.settings.show_recent %}
<div class="block block-blog block-blog-recents">
  <div class="block-title">
    <strong><span>{{ section.settings.recent_title }}</span></strong>
  </div>
  <div class="block-content">
    <div class="menu-recent">
      <ul>
        {% for article in blogs[section.settings.blog_recent_blog].articles limit:section.settings.recent_limit %}
        <li>
          <a href="{{ article.url }}">{{ article.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

{% if section.settings.show_tags and blog.all_tags.size > 0 %}
<div class="block block-blog block-blog-tags">
  <div class="block-title">
    <strong><span>{{ section.settings.tag_title }}</span></strong>
  </div>
  <div class="block-content">
    <ul class="tags">
      <li{% unless current_tags %} class="active"{% endunless %}><a href="{{ shop.url}}/blogs/{{ blog.handle }}" data-trans-key>{{ 'blogs.article.view_all' | t }}</a></li>
      {% for tag in blog.all_tags %}
      {% if current_tags contains tag %}
      <li class="active">{{ tag | link_to_remove_tag: tag }}</li>
      {% else %}
      <li>{{ tag | link_to_tag: tag }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if section.settings.show_banner %}
<div class="block block-blog block-blog-tags">
  <div class="block-content">
    <img src='{{ section.settings.banner | img_url: "1170x500", crop: 'center'}}' alt="blog banner" />
  </div>
</div>
{% endif %}
