{% unless grid_image_width %}
  {%- assign grid_image_width = '600x600' -%}
{% endunless %}
  <div class="row-container list-unstyled clearfix">
    <div class="row-inner">
      <div class="row-left col-xs-5">
        <a href="{{ product.url | within: collection }}" class="hoverBorder container_item"> 
          <div class="hoverBorderWrapper">
            {% for image in product.images %}
            {% endfor %}
            {% capture number_of_images %}{{ product.images | size }}{% endcapture %}
            {% assign number_images = number_of_images | plus:0 %}
            <img src="{{ product.featured_image | product_img_url: grid_image_width , crop: 'bottom' }}" class="{% if settings.product_item_effect != 'rotation' %}not-rotation{% endif %} img-responsive front" alt="{{ product.featured_image.alt | escape }}" />
            <div class="mask"></div>          
            {% if number_images > 1 %}
            <span class="hidden-sm hidden-xs back">
              <img src="{{ product.images[1]| product_img_url: grid_image_width , crop: 'bottom' }}" class="rotation img-responsive" alt="{{ product.images[1].alt | escape }}" />    
            </span>          
            {% endif %}
          </div>          
          {% if settings.label_active %}
            {% include 'product-labels' %}
          {% endif %}          
        </a>         
      </div>

      <div class="row-right animMix col-xs-7">
        <div class="product-title"><a class="title-5" href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
        <div class="product-price">
          {% if product.available %}
          {% if product.compare_at_price_max > product.price %}

          {% assign found_one_in_stock = false %}
          {% for variant in product.variants %}
          {% if variant.available and variant.compare_at_price and found_one_in_stock == false %}
          {% assign found_one_in_stock = true %}

          <span class="price_sale price">{% include 'display-price' with price: variant.price %}</span>
          <del class="price_compare price"> {% include 'display-price' with price: variant.compare_at_price %}</del>

          {% endif %}
          {% endfor %}

          {% if found_one_in_stock == false %}
          {% for variant in product.variants %}
          {% if variant.available and found_one_in_stock == false %}
          {% assign found_one_in_stock = true %}
          <span class="price">
            {% include 'display-price' with price: variant.price %}
          </span>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% else %}
          <span class="price">
            {% if product.price_varies %} 
            {% include 'display-price' with price: product.price %}
            {% else %}
            {% include 'display-price' with price: product.price %}
            {% endif %}
          </span>
          {% endif %}  
          {% else %}
          <span class="sold_out">Sold Out</span>
          {% endif %}
        </div>      
      </div>
  </div> 
</div>