<div class="main-container col1-layout">
  <div class="main">
    <div class="content-breadcrums">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {% include 'breadcrumbs' %}
          </div>
        </div>
      </div>    
    </div>
    <div class="container col-main-containter">
      <div class="row">
        <div class="col-main col-xs-12">
          <div class="col-wrapper-main account_wrapper">
            <div class="account_wrap">
              <div class="row">
                <div class="col-xs-12">
                  <div class="page-title">
                    <h1 class="skeleton-loading"><span class="brackets skeleton-loading" data-trans-key="customer.account.title">{{ 'customer.account.title' | t }}</span></h1>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <h2><span class="brackets skeleton-loading" data-trans-key="customer.orders.title">{{ 'customer.orders.title' | t }}</span></h2>
                  {% paginate customer.orders by 20 %}
                  {% if customer.orders.size != 0 %}

                  <table class="responsive-table">
                    <thead>
                      <tr>
                        <th><span class="brackets skeleton-loading" data-trans-key="customer.orders.order_number">{{ 'customer.orders.order_number' | t }}</span></th>
                        <th><span class="brackets skeleton-loading" data-trans-key="customer.orders.date">{{ 'customer.orders.date' | t }}</span></th>
                        <th><span class="brackets skeleton-loading" data-trans-key="customer.orders.payment_status">{{ 'customer.orders.payment_status' | t }}</span></th>
                        <th><span class="brackets skeleton-loading" data-trans-key="customer.orders.fulfillment_status">{{ 'customer.orders.fulfillment_status' | t }}</span></th>
                        <th><span class="brackets skeleton-loading" data-trans-key="customer.orders.total">{{ 'customer.orders.total' | t }}</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order in customer.orders %}
                      <tr>
                        <td data-data-label-trans="customer.orders.order_number" data-data-label-default="{{ 'customer.orders.order_number' | t }}" data-label="{{ 'customer.orders.order_number' | t }}">
                          <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small">{{ order.name }}</a>
                        </td>
                        <td data-data-label-trans="customer.orders.date" data-data-label-default="{{ 'customer.orders.date' | t }}" data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                        <td data-data-label-trans="customer.orders.payment_status" data-data-label-default="{{ 'customer.orders.payment_status' | t }}" data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                        <td data-data-label-trans="customer.orders.fulfillment_status" data-data-label-default="{{ 'customer.orders.fulfillment_status' | t }}" data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                        <td data-data-label-trans="customer.orders.total" data-data-label-default="{{ 'customer.orders.total' | t }}" data-label="{{ 'customer.orders.total' | t }}"><span class="price">{% include 'display-price' with price: order.total_price %}</span></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                  {% else %}

                  <p v-html="translate.customer_orders_none"></p>

                  {% endif %}
                  {% if paginate.pages > 1 %}
                  {% include 'pagination' %}
                  {% endif %}
                  {% endpaginate %}
                </div>
                <div class="col-xs-12 col-sm-6">
                  <h2><span class="brackets skeleton-loading" data-trans-key="customer.account.details">{{ 'customer.account.details' | t }}</span></h2>
                  {{ customer.default_address | format_address }}
                  <p><a href="/account/addresses" class="btn btn--small brackets"><span class="brackets skeleton-loading" data-trans-key="customer.account.view_addresses">{{ 'customer.account.view_addresses' | t }}</span> ({{ customer.addresses_count }})</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>