<div class="customer-account-create">
  <div class="main-container col1-layout">
    <div class="main">
      <div class="content-breadcrums">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              {% include 'breadcrumbs' %}
            </div>
          </div>
        </div>    
      </div>

      <div class="container col-main-containter">
        <div class="row">
          <div class="col-main col-xs-12">
            <div class="col-wrapper-main">
              <div class="account-create">
                <div class="page-title">
                  <h1 class="skeleton-loading"><span class="brackets skeleton-loading" data-trans-key="customer.register.title">{{ 'customer.register.title' | t }}</span></h1>
                </div>
                <div class="create_form_wrap">
                  {% form 'create_customer' %}
                  {{ form.errors | default_errors }}
                  <div class="field note"><span class="brackets skeleton-loading" data-trans-key="customer.register.desc">{{ 'customer.register.desc' | t }}</span></div>
                  <div class="fieldset">
                    <ul class="form-list">
                      <li class="fields">
                        <div class="field name-firstname label-effect">
                          <label for="FirstName" class="required"><em>*</em><span class="brackets skeleton-loading" data-trans-key="customer.register.first_name">{{ 'customer.register.first_name' | t }}</span></label>
                          <div class="input-box">
                            <input type="text" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus class="input-text required-entry" autocomplete="off" />
                          </div>
                        </div>
                        <div class="field name-lastname label-effect">
                          <label for="LastName" class="required"><em>*</em><span class="brackets skeleton-loading" data-trans-key="customer.register.last_name">{{ 'customer.register.last_name' | t }}</span></label>
                          <div class="input-box">
                            <input type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} class="input-text required-entry" autocomplete="off" />
                          </div>
                        </div>
                        <div class="field email label-effect">
                          <label for="Email" class="required"><em>*</em><span class="brackets skeleton-loading" data-trans-key="customer.register.email">{{ 'customer.register.email' | t }}</span></label>
                          <div class="input-box">
                            <input type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %} input-text required-entry" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" autocomplete="off" />
                          </div>
                        </div>
                        <div class="field password label-effect">
                          <label for="CreatePassword" class="required"><em>*</em><span class="brackets skeleton-loading" data-trans-key="customer.register.password">{{ 'customer.register.password' | t }}</span></label>
                          <div class="input-box">
                            <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %} input-text required-entry" autocomplete="off">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="buttons-set">
                    <button type="submit" title="{{ 'customer.register.submit'|t }}" data-title-trans="customer.register.submit" data-title-default="{{ 'customer.register.submit' | t }}" class="button"><span><span><span class="brackets skeleton-loading" data-trans-key="customer.register.submit">{{ 'customer.register.submit' | t }}</span></span></span></button>
                  </div>
                  {% endform %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>