<div class="customer-account-create">
  <div class="main-container col1-layout">
    <div class="main">
      <div class="content-breadcrums">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              {% include 'breadcrumbs' %}
            </div>
          </div>
        </div>    
      </div>

      <div class="container col-main-containter">
        <div class="row">
          <div class="col-main col-xs-12">
            <div class="col-wrapper-main">
              <div class="account-create">
                <div class="page-title">
                  <h1 class="skeleton-loading" data-trans-key="customer.reset_password.title">{{ 'customer.reset_password.title' | t }}</h1>
                </div>
                <div class="create_form_wrap">
                  {% form 'reset_customer_password' %}
                  {{ form.errors | default_errors }}
                  <div class="field note"><span class="brackets skeleton-loading" data-trans-key="customer.reset_password.subtext" data-trans-val='{"email":"{{ email }}"}'>{{ 'customer.reset_password.subtext' | t: email: email }}</span></div>
                  <div class="fieldset">
                    <ul class="form-list">
                      <li class="fields">
                        <div class="field password label-effect">
                          <label for="ResetPassword" class="required"><em>*</em><span class="brackets skeleton-loading" data-trans-key="customer.reset_password.password">{{ 'customer.reset_password.password' | t }}</span></label>
                          <div class="input-box">
                            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %} input-text required-entry">
                          </div>
                        </div>
                        <div class="field password-confirm label-effect">
                          <label for="PasswordConfirmation" class="required"><em>*</em><span class="brackets skeleton-loading" data-trans-key="customer.reset_password.password_confirm">{{ 'customer.reset_password.password_confirm' | t }}</span></label>
                          <div class="input-box">
                            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %} input-text required-entry">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="buttons-set">
                    <button type="submit" data-title-trans="customer.reset_password.submit" data-title-default="{{ 'customer.reset_password.submit' | t }}" title="{{ 'customer.reset_password.submit' | t }}" class="button"><span><span><span class="brackets skeleton-loading" data-trans-key="customer.reset_password.submit">{{ 'customer.reset_password.submit' | t }}</span></span></span></button>
                  </div>
                  {% endform %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>