<div id="{{ section.id }}_section" data-section-id="{{ section.id }}" data-section-type="collection-template" class="rendering-collection">
  {%- assign products_count = collection.products_count | plus: 0 %}
  <div class="col-xs-12">
    {%- if section.settings.collection_banner -%}
    {%- assign collection_banner = section.settings.collection_banner_img -%}
    {%- if collection.image != blank -%}
    {%- assign collection_banner = collection.image -%}
    {%- endif -%}
    {%- if collection_banner != blank -%}
    {%- assign banner_size = section.settings.collection_banner_size | default: '1170x' -%}
    <div class="collection-banner">
      <div class="collection-panner">
        <img src="{{ collection_banner | img_url: banner_size, crop: 'center' }}" class="img-responsive" alt="" />
      </div>
    </div>
    {%- endif -%}
    {%- endif -%}

    {% if section.settings.collection_desc %}
    {% if collection.description != empty %}
    <div class="collection-desc">
      <div class="collection-description text-left">
        <div class="description content">{{ collection.description }}</div>
      </div>
    </div>
    {% endif %}
    {% endif %}

    <div class="collection-toolbar">
      <div class="list-inline text-right">
        <section class="collection-heading col-xs-12 col-md-4">
          <div class="collection-heading-wrapper">
            <div class="collection-heading-inner">
              <h1 class="page-title"><span>{{ collection.title }}</span></h1>
            </div>
          </div>
        </section>
        <div class="col-xs-8 col-md-4 toolbar-left">
          {% if section.settings.enable_tagsfilter %}
          {%- if collection.template_suffix != '' or section.settings.display_tagsfilter -%}
            {%- assign toggle_sidebar_class = 'hide-sidebar' -%}
          {%- else -%}
            {%- assign toggle_sidebar_class = 'show-sidebar' -%}
          {%- endif -%}
          <a class="toggle visible-md visible-lg toggle-sidebar-control {{ toggle_sidebar_class }}" href="javascript:void(0);">
            <span>
              <span>
                <span class="hide_text">
                  <span class="brackets skeleton-loading" data-trans-key="collections.general.sidebar_btn">{{ 'collections.general.sidebar_btn' | t }}</span>
                </span>
              </span>
            </span>
          </a>
          <div id="cdz-off-canvas-btn" class="visible-xs visible-sm"><span><span><span class="show_text"><span class="brackets skeleton-loading" data-trans-key="collections.general.sidebar_btn">{{ 'collections.general.sidebar_btn' | t }}</span></span></span></span></div>
          {% endif %}
          <!-- View as -->
          {% if section.settings.collection_grid_list %}
          <div class="grid_list col-sm-6">
            <ul class="list-inline option-set" data-option-key="layoutMode">
              <li data-option-value="fitRows" id="goGrid" class="goAction {% if section.settings.layout == 'grid' %} active{% endif %}" data-toggle="tooltip" data-placement="top" data-data-original-title-trans="layout.list_page.grid" data-data-original-title-default="{{ 'layout.list_page.grid' | t }}" data-original-title="{{ 'layout.list_page.grid' | t }}">
                <i class="fa fa fa-th"></i>
              </li>
              <li data-option-value="straightDown" id="goList" class="goAction {% if section.settings.layout == 'list' %} active{% endif %}" data-toggle="tooltip" data-placement="top" data-data-original-title-trans="layout.list_page.list" data-data-original-title-default="{{ 'layout.list_page.list' | t }}" data-original-title="{{ 'layout.list_page.list' | t }}">
                <i class="fa fa-th-list"></i>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
        
        <!-- Sort by -->
        <div class="sortBy col-xs-4">
          {% if section.settings.collection_sort and products_count > 1 %}
          <div class="sortBy-inner">
            <span class="sort-by-title hidden-xs"><span class="brackets skeleton-loading" data-trans-key="collections.sorting.title">{{ 'collections.sorting.title' | t }}</span>:</span>
            <div class="sortBy_group">
              <div id="sortButtonWarper" class="dropdown-toggle" data-toggle="dropdown">
                <button id="sortButton">
                  <span class="name"><span class="brackets skeleton-loading" data-trans-key="collections.sorting.manual">{{ 'collections.sorting.manual' | t }}</span></span><i class="fa fa-caret-down"></i>
                </button>
                <i class="sub-dropdown1"></i>
                <i class="sub-dropdown"></i>
              </div>
              <div id="sortBox" class="control-container dropdown-menu" data-default="{{ collection.default_sort_by | escape }}">
                {% if current_tags %}
                {% assign tagUrl = current_tags | replace: '-', 'TAGURL' %}
                {% assign tagUrl = tagUrl | handleize %}
                {% assign tagUrl = tagUrl | replace: '-', '+' %}
                {% assign tagUrl = tagUrl | replace: 'TAGURL', '-' %}
                {% assign tagUrl = tagUrl | prepend: '/' %}
                {% else %}
                {% assign tagUrl = '' %}
                {% endif %}
                {% if collection.handle == "all" %}
                {% assign collectionUrl = '/collections/all' %}
                {% else %}
                {% assign collectionUrl = collection.url %}
                {% endif %}
                <ul id="sortForm" class="list-unstyled option-set text-left list-styled" data-option-key="sortBy">
                  <li class="sort manual">
                    <a href="{{ collectionUrl }}{{ tagUrl }}/?sort_by=manual" data-sort="manual" title="{{ 'collections.sorting.manual' | t | escape }}"><span class="brackets skeleton-loading" data-trans-key="collections.sorting.manual">{{ 'collections.sorting.manual' | t }}</span></a>
                  </li>
                  <li class="sort price-ascending">
                    <a href="{{ collectionUrl }}{{ tagUrl }}/?sort_by=price-ascending" data-sort="price-ascending" title="{{ 'collections.sorting.price_ascending' | t | escape }}"><span class="brackets skeleton-loading" data-trans-key="collections.sorting.price_ascending">{{ 'collections.sorting.price_ascending' | t }}</span></a>
                  </li>
                  <li class="sort price-descending">
                    <a href="{{ collectionUrl }}{{ tagUrl }}/?sort_by=price-descending" data-sort="price-descending" title="{{ 'collections.sorting.price_descending' | t | escape }}"><span class="brackets skeleton-loading" data-trans-key="collections.sorting.price_descending">{{ 'collections.sorting.price_descending' | t }}</span></a>
                  </li>
                  <li class="sort title-ascending">
                    <a href="{{ collectionUrl }}{{ tagUrl }}/?sort_by=title-ascending" data-sort="title-ascending" title="{{ 'collections.sorting.title_ascending' | t | escape }}"><span class="brackets skeleton-loading" data-trans-key="collections.sorting.title_ascending">{{ 'collections.sorting.title_ascending' | t }}</span></a>
                  </li>
                  <li class="sort title-descending">
                    <a href="{{ collectionUrl }}{{ tagUrl }}/?sort_by=title-descending" data-sort="title-descending" title="{{ 'collections.sorting.title_descending' | t | escape }}"><span class="brackets skeleton-loading" data-trans-key="collections.sorting.title_descending">{{ 'collections.sorting.title_descending' | t }}</span></a>
                  </li>
                  <li class="sort created-ascending">
                    <a href="{{ collectionUrl }}{{ tagUrl }}/?sort_by=created-ascending" data-sort="created-ascending" title="{{ 'collections.sorting.created_ascending' | t | escape }}"><span class="brackets skeleton-loading" data-trans-key="collections.sorting.created_ascending">{{ 'collections.sorting.created_ascending' | t }}</span></a>
                  </li>
                  <li class="sort created-descending">
                    <a href="{{ collectionUrl }}{{ tagUrl }}/?sort_by=created-descending" data-sort="created-descending" title="{{ 'collections.sorting.created_descending' | t | escape }}"><span class="brackets skeleton-loading" data-trans-key="collections.sorting.created_descending">{{ 'collections.sorting.created_descending' | t }}</span></a>
                  </li>
                  <li class="sort best-selling">
                    <a href="{{ collectionUrl }}{{ tagUrl }}/?sort_by=best-selling" data-sort="best-selling" title="{{ 'collections.sorting.best_selling' | t | escape }}"><span class="brackets skeleton-loading" data-trans-key="collections.sorting.best_selling">{{ 'collections.sorting.best_selling' | t }}</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {% endif %}                                    
        </div>        
      </div>
    </div>
  </div>
  {% if collection.template_suffix == '3col' %}
  {% if section.settings.enable_tagsfilter %}
  <div class="col-sm-3 col-left sidebar main-sidebar nav-bar-canvas hide direction-left">{% include 'collection-sidebar' %}</div>
  {% endif %}

  <div class="{% if section.settings.enable_tagsfilter %}col-sm-6{% else %}col-sm-9{% endif %} col-main">
    <div class="col-wrapper-main">{% include 'collection-content' %}</div>
  </div>

  <div class="col-sm-3 col-right sidebar">{% include 'collection-second-sidebar' %}</div>
  {% elsif collection.template_suffix == '2left' %}
  {% if section.settings.enable_tagsfilter %}
  <div class="col-sm-3 col-left sidebar main-sidebar nav-bar-canvas hide direction-left">
    {% include 'collection-sidebar' %}
  </div>
  {% endif %}
  <div class="{% if section.settings.enable_tagsfilter %}col-sm-9{% else %}col-sm-12{% endif %} col-main">
    <div class="col-wrapper-main">{% include 'collection-content' %}</div>
  </div>
  {% elsif collection.template_suffix == '2right' %}
  <div class="{% if section.settings.enable_tagsfilter %}col-sm-9{% else %}col-sm-12{% endif %} col-main">
    <div class="col-wrapper-main">{% include 'collection-content' %}</div>
  </div>
  {% if section.settings.enable_tagsfilter %}
  <div class="col-sm-3 col-right sidebar main-sidebar nav-bar-canvas hide direction-left">{% include 'collection-sidebar' %}</div>
  {% endif %}
  {% else %}
  {% if section.settings.enable_tagsfilter %}
  <div class="col-sm-3 col-left sidebar main-sidebar{% if section.settings.display_tagsfilter == false %} hide-sidebar{% endif %} nav-bar-canvas hide direction-left">
    {% include 'collection-sidebar' %}
  </div>
  {% endif %}
  <div class="{% if section.settings.enable_tagsfilter %}col-sm-9 {% if section.settings.display_tagsfilter == false %} hide-left{% endif %}{% else %}col-sm-12{% endif %} col-main">
    <div class="col-wrapper-main">{% include 'collection-content' %}</div>
  </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "Collection pages",
  "max_blocks": 10,
  "settings": [
  {
          "type": "header",
          "content": "General Settings"
    },
    {
        "type": "text",
        "id": "limit",
        "label": "The number of products per page",
        "default": "12"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Default Format",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ],
        "default": "grid"
      },
  {
        "type": "checkbox",
        "id": "collection_banner",
        "label": "Display General Banner",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "collection_banner_img",
        "label":"Upload image"
      },
      {
        "type": "text",
        "id": "collection_banner_size",
        "label":"Banner image size",
        "default": "1170x",
        "info": "Leave \"master\" to show original image"
      },
      {
        "type": "checkbox",
        "id": "collection_desc",
        "label": "Display Collection Description",
        "default": true
      },
    {
        "type": "checkbox",
        "id": "collection_grid_list",
        "label": "Display View as List\/Grid",
        "default": true
      },
    {
        "type": "checkbox",
        "id": "collection_sort",
        "label": "Display Sort by filter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_label",
        "label": "Show label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_wishlist",
        "label": "Show Wishlist",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_cart_btn",
        "label": "Show Add to cart button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_qs_btn",
        "label": "Show Quick Shop button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_compare_btn",
        "label": "Show Compare button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_more_view",
        "label": "Show More View Slider",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_social_share",
        "label": "Show Social Sharing",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_effect_appear",
        "label": "Use lazy loading image",
        "default": true
      },
      {
        "type": "text",
        "id": "image_size",
        "label": "Image Size",
        "default": "300x"
      },
      {
        "type": "text",
        "id": "more_view_size",
        "label": "Image More View Size",
        "default": "50x60"
      },
      {
        "type": "header",
        "content": "Sidebar - Filter"
      },            
      {
        "type": "checkbox",
        "id": "enable_tagsfilter",
        "label": "Enable Filter Sidebar",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_tagsfilter",
        "label": "Default display filter",
        "default": false,
        "info": "Only affect when you display collection in one column layout"
      },
      {
        "type": "text",
        "id": "filter_title",
        "label": "Filter Label:",
        "default": "Filter"
      },
    {
        "type": "header",
        "content": "Sidebar - Products"
      },
    {
        "type": "text",
        "id": "sidebarproduct_title",
        "label": "Title"
      },    
    {
        "type": "text",
        "id": "sidebarproduct_limit",
        "label": "Limit products"
      },
    {
        "type": "header",
        "content": "Second Sidebar"
      },
    {
        "type": "image_picker",
        "id": "second_sidebar_banner",
        "label": "Banner"
      }
  ],
  "blocks": [
  {
    "name": "Filter Item",
    "type": "filter_item",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Label"
    },
    {
      "type": "text",
      "id": "group_tag",
      "label": "Keys",
    "info": "Separate tags with comma"
    },
  {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable this filter item",
      "default": true
    }
    ]
  }
  ]
}
{% endschema %}