{%- assign collection = collections[section.settings.collection] -%}
{%- assign limit1 = section.settings.limit1 | divided_by : 1 -%}
{%- assign limit2 = section.settings.limit2 | divided_by : 1 -%}
{%- assign image_size_1 = section.settings.image_size_1 -%}
{%- assign image_size_2 = section.settings.image_size_2 -%}
{% capture wrapId %}collection_{{ section.id }}{% endcapture %}
<div id="{{ wrapId }}" class="collection-style5 collection-widget" data-section-id="{{ section.id }}" data-section-type="collection-style5">
  <div class="container{% if section.settings.full_width %}-fluid{% endif %}">
    <div class="row">
      <div class="section-inner col-xs-12">
        <div class="block-content">
          <div class="col-block1">
            {% if section.settings.title != blank %}
            <div class="block-title">
              <span><span class="title_icon">{% include 'icon-diamond' %}</span><span class="title_text{% if section.settings.title_trans != blank %} skeleton-loading" data-content-trans="#{{ wrapId }}_title_trans{% endif %}">{{ section.settings.title | raw }}</span></span>
            </div>
            {% if section.settings.title_trans != blank %}
            <span id="{{ wrapId }}_title_trans" class="hide">
              {{ section.settings.title_trans | raw }}
            </span>
            {% endif %}
            {% endif %}

            {% if section.blocks.size > 0 %}
            <div class="icon_list">
              <ul>
              {% for block in section.blocks %}
              <li>
                {% if block.settings.icon_image %}
                <a href="{{ block.settings.icon_link }}" class="icon_image">
                  <img {% if section.settings.use_effect_appear %}class="lozad" data-{% endif %}src="{{ block.settings.icon_image | img_url: 'master' }}"/>
                </a>
                {% endif %}
                <a href="{{ block.settings.icon_link }}" class="icon_title">
                  <span {% if block.settings.title_trans != blank %} class="skeleton-loading" data-content-trans="#{{ wrapId }}_{{ forloop.index }}_col1_title_trans"{% endif %}>{{ block.settings.title | raw }}</span>
                  {% if block.settings.title_trans != blank %}
                  <span id="{{ wrapId }}_{{ forloop.index }}_col1_title_trans" class="hide">{{ block.settings.title_trans | raw }}</span>
                  {% endif %}
                </a>
              </li>
              {% endfor %}
              </ul>
            </div>
            {% endif %}    
          </div>
          <div class="col-block2">
            {%- assign collection = collections[section.settings.collection_col_2] -%}
            {% if collection and collection.products.size > 0 %}
            {%- assign inputPrefix = wrapId | append: '_1' -%}
            <div class="product-list-wrapper">
              <div class="product-list">
              {% for product in collection.products limit: limit1 %}
                <div class="product-item item">
                  <div class="product-item-wrapper">
                    <div class="product-item-top">
                      <div class="product-item-media">
                        {% include 'product-compare-btn' %}
                        <a href="{{ product.url }}" class="product-image" title="{{ product.title }}">
                          <img {% if section.settings.use_effect_appear %}class="lozad" data-{% endif %}src="{{ product.featured_image | product_img_url: image_size_1 , crop: 'top' }}" alt="{{ product.featured_image.alt | escape }}" />
                        </a>
                      </div>
                      <div class="product-item-hover product-qs-wrapper">
                        {% include 'product-qs-btn' with showTooltip: true %}
                      </div>
                      {% include 'product-labels' %}
                    </div>
                    <div class="product-item-bottom">
                      <div class="product-details">
                        <div class="product-name">
                          <a href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a>
                        </div>
                        {% include 'product-price' %}  
                      </div>
                      <div class="actions product-item-hover">
                        <div class="product-item-hover-group">
                          {% include 'product-cart-qty-btn' with showTooltip: true, ulId: inputPrefix %}
                          {% include 'product-wishlist' %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}  
              </div>
            </div>
            {% else %}
            <p class="alert alert-info"><span class="brackets skeleton-loading" data-trans-key="collections.general.no_matches">{{ 'collections.general.no_matches' | t }}</span></p>
            {% endif %}
          </div>
          <div class="col-block3">
            {% if section.settings.title_col_3 %}
            <span class="title-col title-col-3">
              <span {% if section.settings.title_col_3_trans != blank %} class="skeleton-loading" data-content-trans="#{{ wrapId }}_title_col_3_trans"{% endif %}>{{ section.settings.title_col_3 }}</span>
              <span id="{{ wrapId }}_title_col_3_trans" class="hide">{{ section.settings.title_col_3_trans | raw }}</span>
            </span>
            {% endif %}
            {%- assign collection = collections[section.settings.collection_col_3] -%}
            {% if collection and collection.products.size > 0 %}
            {%- assign inputPrefix = wrapId | append: '_2' -%}
            <div class="product-list-wrapper">
              <div class="product-list">
              {% for product in collection.products limit: limit2 %}
                <div class="product-item item">
                  <div class="product-item-wrapper">
                    <div class="product-item-top">
                      <div class="product-item-media">
                        {% include 'product-compare-btn' %}
                        <a href="{{ product.url }}" class="product-image" title="{{ product.title }}">
                          <img {% if section.settings.use_effect_appear %}class="lozad" data-{% endif %}src="{{ product.featured_image | product_img_url: image_size_2 , crop: 'top' }}" alt="{{ product.featured_image.alt | escape }}" />
                        </a>
                      </div>
                      <div class="product-item-hover product-qs-wrapper">
                        {% include 'product-qs-btn' %}
                      </div>
                      {% include 'product-labels' %}
                    </div>
                    <div class="product-item-bottom">
                      <div class="product-details">
                        <div class="product-name">
                          <a href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a>
                        </div>
                        {% include 'product-review' %}
                        {% include 'product-price' %}  
                      </div>
                      <div class="actions product-item-hover">
                        <div class="product-item-hover-group">
                          {% include 'product-cart-qty-btn', ulId: inputPrefix %}
                          {% include 'product-wishlist' %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}  
              </div>
            </div>
            {% else %}
            <p class="alert alert-info"><span class="brackets skeleton-loading" data-trans-key="collections.general.no_matches">{{ 'collections.general.no_matches' | t }}</span></p>
            {% endif %}
          </div>
        </div> 
      </div>   
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Block product style 5",
  "class": "collection-style5-section section",
  "max_blocks": 7,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Block product Style 5"
    },
    {
      "type": "textarea",
      "id": "title_trans",
      "label": "Translate Heading"
    },
    {
      "type": "checkbox",
      "id": "show_wishlist",
      "label": "Show Wishlist",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart_btn",
      "label": "Show Add to cart button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_qs_btn",
      "label": "Show Quick Shop button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_label",
      "label": "Show label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_compare_btn",
      "label": "Show Compare button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "use_effect_appear",
      "label": "Use lazy loading image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "header",
      "content": "Column 2"
    },
    {
      "type": "collection",
      "id": "collection_col_2",
      "label": "Collection Column 2"
    },
    {
      "type": "text",
      "id": "limit1",
      "label": "Limit Product Column 2",
      "default": "6"
    },
    {
      "type": "text",
      "id": "image_size_1",
      "label": "Image Size",
      "default": "125x125"
    },
    {
      "type": "header",
      "content": "Column 3"
    },
    {
      "type": "collection",
      "id": "collection_col_3",
      "label": "Collection Column 3"
    },
    {
      "type": "text",
      "id": "limit2",
      "label": "Limit Product Column 3",
      "default": "5"
    },
    {
      "type": "text",
      "id": "title_col_3",
      "label": "Title Column 3"
    },
    {
      "type": "textarea",
      "id": "title_col_3_trans",
      "label": "Translate Title Column 3"
    },
    {
      "type": "text",
      "id": "image_size_2",
      "label": "Image Size",
      "default": "70x70"
    }
  ],
  "blocks": [
    {
      "name": "Icon",
      "type": "collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Icon Title"
        },
        {
          "type": "textarea",
          "id": "title_trans",
          "label": "Translate Icon Title"
        },
        {
          "type": "url",
          "id": "icon_link",
          "label": "Icon Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Block product style 5",
      "category": "Collection",
      "settings": {
        "show_wishlist": true,
        "show_cart_btn": true,
        "show_qs_btn": true,
        "show_label": true,
        "show_compare_btn": false,
        "use_effect_appear": true,
        "full_width": false,
        "limit1": "6",
        "limit2": "5",
        "image_size_1": "125x125",
        "image_size_2": "70x70"
      }
    }
  ]
}
{% endschema %}