{% layout none %}<div class="cdz-menu cdz-horizontal-menu   cdz-translate menu-en" id="menu-712-59941a8218d4c-en" data-megamenu='{"dropdownEffect":"translate","type":"0"}'
            ><ul class="groupmenu"><li class="item level0  level-top parent" >
            <a class="menu-link" href="/"><i class="menu-icon fa fa-home"></i> <span>Home</span></a>
                    <ul class="groupmenu-drop">
                                    <li class="item level1  text-content" >
            
        <div class=" groupmenu-drop-content groupmenu-width-24"
             style="">
                            <div class="row">
                                            <div class="col-md-3"><p class="groupdrop-title">SERVICES</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Shop &mdash; Catalog</a></li>
<li class="item"><a href="#">Shop &mdash; Categories</a></li>
<li class="item"><a href="#">Product Category</a></li>
<li class="item"><a href="#">Shop &mdash; width Sidebar</a></li>
<li class="item"><a href="#">Shopping Cart</a></li>
<li class="item"><a href="#">Checkout</a></li>
<li class="item"><a href="#">Wishlist</a></li>
<li class="item last"><a href="#">Order Tracking</a></li>
</ul></div>
                                            <div class="col-md-3"><p class="groupdrop-title">Collections</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Handbag</a></li>
<li class="item"><a href="#">Shoes men &amp; women</a></li>
<li class="item"><a href="#">T-Shirt</a></li>
<li class="item"><a href="#">Swimswear</a></li>
<li class="item"><a href="#">Shopping Cart</a></li>
<li class="item"><a href="#">Checkout</a></li>
<li class="item"><a href="#">Wishlist</a></li>
<li class="item last"><a href="#">Order Tracking</a></li>
</ul></div>
                                            <div class="col-md-3"><p class="groupdrop-title">Sub page</p>
<ul class="groupdrop-link">
<li class="item"><a href="../account/login">Login Page</a></li>
<li class="item"><a href="../account/register">Register page</a></li>
<li class="item"><a href="../account/login#recover">Forgot Password</a></li>
<li class="item"><a href="#">About us </a></li>
<li class="item"><a href="#">Contact us</a></li>
<li class="item"><a href="#">Privacy Policy</a></li>
<li class="item"><a href="#">Wishlist</a></li>
<li class="item last"><a href="#">Page Not Found</a></li>
</ul></div>
                                            <div class="col-md-3"><div class="groupdrop-banner"><a href="#"><img src="{{ "media_banner01_1496569220.jpeg" | asset_url }}" /></a></div></div>
                                    </div>
                    </div>
    </li>                            </ul>
            </li><li class="item level0  level-top parent" >
            <a class="menu-link" href="{{ collections['men'].url }}"> <span>Men</span></a>
                    <ul class="groupmenu-drop">
                                    <li class="item level1  text-content" >
            
        <div class=" groupmenu-drop-content groupmenu-width-24"
             style="">
                            <div class="row">
                                            <div class="col-md-3"><div class="groupdrop-banner space-top"><a href="#"><img src="{{ "media_logo1_1495602398.jpeg" | asset_url }}" /></a></div>
<hr />
<div class="groupdrop-banner space-s"><img src="{{ "media_banner04_1495602443.jpeg" | asset_url }}" /></div>
<ul class="groupdrop-link">
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Clothing</a></li>
<li class="item"><a href="#">Cardigans</a></li>
<li class="item"><a href="#">Swimsuits</a></li>
<li class="item"><a href="#">Accessories</a></li>
</ul></div>
                                            <div class="col-md-3"><div class="groupdrop-banner space-top"><a href="#"><img src="{{ "media_logo2_1495602429.jpeg" | asset_url }}" /></a></div>
<hr />
<div class="groupdrop-banner space-s"><img src="{{ "media_banner05_1495602440.jpeg" | asset_url }}" /></div>
<ul class="groupdrop-link">
<li class="item"><a href="#">Cardigans</a></li>
<li class="item"><a href="#">Swimsuits</a></li>
<li class="item"><a href="#">Accessories</a></li>
</ul></div>
                                            <div class="col-md-3"><div class="groupdrop-banner space-top"><img src="{{ "media_logo3_1495602427.jpeg" | asset_url }}" /></div>
<hr />
<div class="groupdrop-banner space-s"><a href="#"><img src="{{ "media_banner06_1495602438.jpeg" | asset_url }}" /></a></div>
<ul class="groupdrop-link">
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Clothing</a></li>
<li class="item"><a href="#">Cardigans</a></li>
<li class="item"><a href="#">Swimsuits</a></li>
<li class="item"><a href="#">Accessories</a></li>
</ul></div>
                                            <div class="col-md-3"><div class="groupdrop-banner space-top"><a href="#"><img src="{{ "media_logo4_1495602425.jpeg" | asset_url }}" /></a></div>
<hr />
<div class="groupdrop-banner space-s"><img src="{{ "media_banner07_1495602431.jpeg" | asset_url }}" /></div>
<ul class="groupdrop-link">
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Clothing</a></li>
<li class="item"><a href="#">Cardigans</a></li>
<li class="item"><a href="#">Swimsuits</a></li>
<li class="item"><a href="#">Accessories</a></li>
</ul></div>
                                    </div>
                    </div>
    </li>                            </ul>
            </li><li class="item level0  level-top parent" >
            <a class="menu-link" href="{{ collections['women'].url }}"> <span>Women</span></a>
                    <ul class="groupmenu-drop">
                                    <li class="item level1  text-content" style="margin-bottom:20px">
                        <img class="groupdrop-banner-pos" src="{{ "media_menu-bkg4_1495603470.png" | asset_url }}" style="right:0px; bottom:0px"/>
        
        <div class=" groupmenu-drop-content groupmenu-width-24"
             style="margin-bottom:20px">
                            <div class="row">
                                            <div class="col-md-2"><div class="groupdrop-banner"><a href="#"><img src="{{ "media_logo5_1495603293.jpeg" | asset_url }}" /></a></div>
<hr />
<div class="groupdrop-banner space-s"><img src="{{ "media_banner10_1495603302.jpeg" | asset_url }}" /></div>
<ul class="groupdrop-link">
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Clothing</a></li>
<li class="item"><a href="#">Cardigans</a></li>
<li class="item"><a href="#">Swimsuits</a></li>
<li class="item"><a href="#">Accessories</a></li>
</ul></div>
                                            <div class="col-md-2"><div class="groupdrop-banner"><a href="#"><img src="{{ "media_logo6_1495603289.jpeg" | asset_url }}" /></a></div>
<hr />
<div class="groupdrop-banner space-s"><img src="{{ "media_banner08_1495603308.jpeg" | asset_url }}" /></div>
<ul class="groupdrop-link">
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Clothing</a></li>
<li class="item"><a href="#">Cardigans</a></li>
<li class="item"><a href="#">Swimsuits</a></li>
<li class="item"><a href="#">Accessories</a></li>
</ul></div>
                                            <div class="col-md-2"><div class="groupdrop-banner"><a href="#"><img src="{{ "media_logo7_1495603287.jpeg" | asset_url }}" /></a></div>
<hr />
<div class="groupdrop-banner space-s"><img src="{{ "media_banner09_1495603305.jpeg" | asset_url }}" /></div>
<ul class="groupdrop-link">
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Clothing</a></li>
<li class="item"><a href="#">Cardigans</a></li>
<li class="item"><a href="#">Swimsuits</a></li>
<li class="item"><a href="#">Accessories</a></li>
</ul></div>
                                            <div class="col-md-2"><div class="groupdrop-banner"><a href="#"><img src="{{ "media_logo8_1495603286.jpeg" | asset_url }}" /></a></div>
<hr />
<div class="groupdrop-banner space-s"><img src="{{ "media_banner11_1495603299.jpeg" | asset_url }}" /></div>
<ul class="groupdrop-link">
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Clothing</a></li>
<li class="item"><a href="#">Cardigans</a></li>
<li class="item"><a href="#">Swimsuits</a></li>
<li class="item"><a href="#">Accessories</a></li>
</ul></div>
                                            <div class="col-md-4"><div class="line-left">
<p class="groupdrop-title text-uppercase">Brand</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Dolce &amp; Gabbana</a></li>
<li class="item"><a href="#">Armani</a></li>
<li class="item"><a href="#">Versace</a></li>
<li class="item"><a href="#">Mango</a></li>
<li class="item"><a href="#">Bottega Veneta</a></li>
<li class="item"><a href="#">Gucci</a></li>
<li class="item"><a href="#">Louis Vuitton</a></li>
<li class="item"><a href="#">Prada</a></li>
<li class="item"><a href="#">Burberry</a></li>
<li class="item"><a href="#">Herm&egrave;s</a></li>
<li class="item last"><a href="#">Chanel</a></li>
</ul>
</div></div>
                                    </div>
                    </div>
    </li>                            </ul>
            </li><li class="item level0  level-top parent" >
            <a class="menu-link" href="#"> <span>Tabs</span></a>
                    <ul class="groupmenu-drop">
                                    <li class="item level1 " >
                    <div class="no-dropdown menu-tabs  cdz-horizontal-tabs groupmenu-width-24"
             style="">
                            <ul class="groupmenu-nondrop">
                                            <li class="item level2  tab-item" >
            <div class="cdz-link-wrap"><a class="cdz-tab-link"
                                      href="#"> GirlFrom 3 to 14 years</a></div>
        <div class="cdz-tab-pane">
            
            <div class=" groupmenu-drop-content">
                                    <div class="row">
                                                    <div class="col-md-2"><p class="groupdrop-title">New in</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Party Collection</a></li>
</ul>
<p>&nbsp;</p>
<p class="groupdrop-title"><a href="#">Best sellers</a></p>
<p class="groupdrop-title"><a href="#">Essential pricesNew!</a></p>
<p>&nbsp;</p>
<p class="groupdrop-title"><a href="#">Promotion</a></p></div>
                                                    <div class="col-md-2"><ul class="groupdrop-link">
<li class="item"><a href="#">Coats</a></li>
<li class="item"><a href="#">Jackets</a></li>
<li class="item"><a href="#">Dresses</a></li>
<li class="item"><a href="#">Jumpsuits</a></li>
<li class="item"><a href="#">Sweaters</a></li>
<li class="item"><a href="#">Sweatshirts</a></li>
<li class="item"><a href="#">Shirts</a></li>
<li class="item"><a href="#">T-shirts</a></li>
<li class="item"><a href="#">Trousers</a></li>
</ul></div>
                                                    <div class="col-md-2"><ul class="groupdrop-link">
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Scarves</a></li>
<li class="item"><a href="#">Belts</a></li>
<li class="item last"><a href="#">More accessories</a></li>
</ul></div>
                                                    <div class="col-md-2"><ul class="groupdrop-link">
<ul class="groupdrop-link">
<li class="item"><a href="#">Basics</a></li>
<li class="item"><a href="#">Special Day</a></li>
</ul>
</ul>
<p>&nbsp;</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">The Gift Guide</a></li>
</ul></div>
                                                    <div class="col-md-4"><div class="groupdrop-banner"><a href="#"><img class="img-responsive" src="{{ "media_girl_1495605238.jpeg" | asset_url }}" /></a></div></div>
                                            </div>
                            </div>
                    </div>
    </li>                                            <li class="item level2  tab-item" >
            <div class="cdz-link-wrap"><a class="cdz-tab-link"
                                      href="#"> BoyFrom 3 to 14 years</a></div>
        <div class="cdz-tab-pane">
            
            <div class=" groupmenu-drop-content">
                                    <div class="row">
                                                    <div class="col-md-2"><p class="groupdrop-title">New in</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Party Collection</a></li>
</ul>
<p>&nbsp;</p>
<p class="groupdrop-title"><a href="#">Best sellers</a></p>
<p class="groupdrop-title"><a href="#">Essential pricesNew!</a></p>
<p>&nbsp;</p>
<p class="groupdrop-title"><a href="#">Promotion</a></p></div>
                                                    <div class="col-md-2"><ul class="groupdrop-link">
<li class="item"><a href="#">Coats</a></li>
<li class="item"><a href="#">Jackets</a></li>
<li class="item"><a href="#">Sweaters</a></li>
<li class="item"><a href="#">Sweatshirts</a></li>
<li class="item"><a href="#">Shirts</a></li>
<li class="item"><a href="#">T-shirts</a></li>
<li class="item"><a href="#">Trousers</a></li>
<li class="item"><a href="#">Jeans</a></li>
<li class="item"><a href="#">Underwear</a></li>
</ul></div>
                                                    <div class="col-md-2"><ul class="groupdrop-link">
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Scarves</a></li>
<li class="item"><a href="#">Belts</a></li>
<li class="item last"><a href="#">More accessories</a></li>
</ul></div>
                                                    <div class="col-md-2"><ul class="groupdrop-link">
<ul class="groupdrop-link">
<li class="item"><a href="#">Basics</a></li>
</ul>
</ul>
<p>&nbsp;</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">The Gift Guide</a></li>
</ul></div>
                                                    <div class="col-md-4"><p><img src="{{ "media_boy_1495604412.jpeg" | asset_url }}" /></p></div>
                                            </div>
                            </div>
                    </div>
    </li>                                            <li class="item level2  tab-item" >
            <div class="cdz-link-wrap"><a class="cdz-tab-link"
                                      href="#"> Babies 1 to 36 months</a></div>
        <div class="cdz-tab-pane">
            
            <div class=" groupmenu-drop-content">
                                    <div class="row">
                                                    <div class="col-md-2"><p class="groupdrop-title">New in</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Countryside Girl</a></li>
<li class="item"><a href="#">Countryside Boy</a></li>
</ul>
<p>&nbsp;</p>
<p class="groupdrop-title"><a href="#">Best sellers</a></p>
<p class="groupdrop-title"><a href="#">Essential pricesNew!</a></p>
<p>&nbsp;</p>
<p class="groupdrop-title"><a href="#">The Gift Guide</a></p></div>
                                                    <div class="col-md-2"><p class="groupdrop-title">Newborn</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Coats</a></li>
<li class="item"><a href="#">Jackets</a></li>
<li class="item"><a href="#">Sweaters</a></li>
<li class="item"><a href="#">Sweatshirts</a></li>
<li class="item"><a href="#">Shirts</a></li>
<li class="item"><a href="#">T-shirts</a></li>
<li class="item"><a href="#">Trousers</a></li>
<li class="item"><a href="#">Jeans</a></li>
<li class="item"><a href="#">Underwear</a></li>
</ul></div>
                                                    <div class="col-md-2"><p class="groupdrop-title">Baby girl</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Coats</a></li>
<li class="item"><a href="#">Jackets</a></li>
<li class="item"><a href="#">Sweaters</a></li>
<li class="item"><a href="#">Sweatshirts</a></li>
<li class="item"><a href="#">Shirts</a></li>
<li class="item"><a href="#">T-shirts</a></li>
<li class="item"><a href="#">Dresses</a></li>
<li class="item"><a href="#">Trousers</a></li>
<li class="item"><a href="#">Jeans</a></li>
<li class="item"><a href="#">Underwear</a></li>
</ul></div>
                                                    <div class="col-md-2"><p class="groupdrop-title">Baby boy</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Coats</a></li>
<li class="item"><a href="#">Jackets</a></li>
<li class="item"><a href="#">Sweatshirts</a></li>
<li class="item"><a href="#">Trousers</a></li>
<li class="item"><a href="#">Jeans</a></li>
<li class="item"><a href="#">Underwear</a></li>
</ul></div>
                                                    <div class="col-md-4"><p><img src="{{ "media_baby_1495604570.jpeg" | asset_url }}" /></p></div>
                                            </div>
                            </div>
                    </div>
    </li>                                    </ul>
                    </div>
    </li>                            </ul>
            </li><li class="item level0  level-top parent" >
            <a class="menu-link" href="#"> <span>Demo Sub Pages</span></a>
                    <ul class="groupmenu-drop">
                                    <li class="item level1  text-content" style="padding-bottom:120px;">
                        <img class="groupdrop-banner-pos" src="{{ "media_menu-bkg1_1495609222.jpeg" | asset_url }}" style="right:0px; bottom:0px"/>
        
        <div class=" groupmenu-drop-content groupmenu-width-9"
             style="padding-bottom:120px;">
                            <div class="row">
                                            <div class="col-md-6"><p class="groupdrop-title">Sub page</p>
<ul class="groupdrop-link">
<li class="item"><a href="http://ecommerce.codazon.com/prestashop-1-7/fastest/en/login">Login Page</a></li>
<li class="item"><a href="http://ecommerce.codazon.com/prestashop-1-7/fastest/en/login?create_account=1">Register page</a></li>
<li class="item"><a href="http://ecommerce.codazon.com/prestashop-1-7/fastest/en/password-recovery">Forgot Password</a></li>
<li class="item"><a href="http://ecommerce.codazon.com/prestashop-1-7/fastest/en/contact-us">Contact us</a></li>
<li class="item"><a href="http://ecommerce.codazon.com/prestashop-1-7/fastest/en/1_fashion-manufacturer">Manufacturer</a></li>
<li class="item"><a href="http://ecommerce.codazon.com/prestashop-1-7/fastest/en/order">Checkout one column</a></li>
<li class="item"><a href="http://ecommerce.codazon.com/prestashop-1-7/fastest/en/order">Checkout two columns</a></li>
<li class="item last"><a href="http://ecommerce.codazon.com/prestashop-1-7/fastest/en/page-not-found">Page Not Found</a></li>
</ul></div>
                                            <div class="col-md-6"><p class="groupdrop-title">Collections</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Handbag</a></li>
<li class="item"><a href="#">Shoes men &amp; women</a></li>
<li class="item"><a href="#">T-Shirt</a></li>
<li class="item"><a href="#">Checkout</a></li>
</ul></div>
                                    </div>
                    </div>
    </li>                            </ul>
            </li><li class="item level0  level-top parent" >
            <a class="menu-link" href="{{ blogs['news'].url }}"><i class="menu-icon fa fa-list-alt"></i> <span>Our Blog</span></a>
                    <ul class="groupmenu-drop">
                                    <li class="item level1  text-content" >
            
        <div class=" groupmenu-drop-content groupmenu-width-18"
             style="">
                            <div class="row">
                                            <div class="col-md-4"><p class="groupdrop-title text-uppercase">WOMEN'S NEW ARRIVALS</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Bags</a></li>
<li class="item"><a href="#">Wallets</a></li>
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Ready-to-Wear</a></li>
<li class="item"><a href="#">Accessories</a></li>
<li class="item"><a href="#">View All</a></li>
</ul></div>
                                            <div class="col-md-4"><p class="groupdrop-title text-uppercase">MEN'S NEW ARRIVALS</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Bags</a></li>
<li class="item"><a href="#">Wallets</a></li>
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Ready-to-Wear</a></li>
<li class="item"><a href="#">Accessories</a></li>
<li class="item"><a href="#">View All</a></li>
</ul></div>
                                            <div class="col-md-4"><p class="groupdrop-title text-uppercase">ACCESSORIES</p>
<ul class="groupdrop-link">
<li class="item"><a href="#">Bags</a></li>
<li class="item"><a href="#">Wallets</a></li>
<li class="item"><a href="#">Shoes</a></li>
<li class="item"><a href="#">Ready-to-Wear</a></li>
<li class="item"><a href="#">Accessories</a></li>
<li class="item"><a href="#">View All</a></li>
</ul></div>
                                    </div>
                    </div>
    </li>                            </ul>
            </li></ul></div>